*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

ul,
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    position: relative;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1000px;
    height: 100%;
}
